.bg-grey {
  color: #000;
  background-color: #f1f1f1;
}

.bg-green {
  color: #fff;
  background-color: #009688;
}

.bg-white {
  background-color: #fff;
}

.grey {
  color: #f1f1f1;
}

.green, .fa {
  color: #009688;
}

.opacity {
  opacity: 0.60;
}

.round {
  border-radius: 1rem;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.bg-left, .bg-right {
  background-color: #fff;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);

  margin: 1rem 0;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
}
