.bg-grey {
  color: #000;
  background-color: #f1f1f1;
}

.bg-green {
  color: #fff;
  background-color: #009688;
}

.bg-white {
  background-color: #fff;
}

.grey {
  color: #f1f1f1;
}

.green {
  color: #009688;
}

.opacity {
  opacity: 0.60;
}

.bg-left, .bg-right {
  background-color: #fff;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);

  margin: 1rem 0;
}